.body-content {
  padding: $gutter;
  text-align: left;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin: $gutter;
  min-width: 10rem;
}

.double-container {
  @media(max-width: 479px) {
    flex-wrap: wrap-reverse;
  }

}


.body-content__title {
  flex-grow: 1;
  @media(min-width: 480px) and (max-width: 779px) {
  flex-basis: calc(50% - #{$gutter});
  }
  @media(min-width: 780px) {
  flex-basis: calc(75% - #{$gutter});
}
  min-width: 20rem;
  margin: $gutter;
  align-items: center;
}

.body-content__img {
  flex-grow: 1;
  @media(min-width: 480px) and (max-width: 779px) {
  flex-basis: calc(50% - #{$gutter});
}
  @media(min-width: 780px) {
  flex-basis: calc(25% - #{$gutter});
}
  padding: 0 0 0 2rem;

}

.double-container {
  @media(max-width: 479px) {
    display: flex;
    flex-direction: column-reverse;
  }
}
