.body-content {
  padding: $gutter;
  text-align: left;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin: $gutter;
  min-width: 10rem;
}



.body-content__title {
  flex-grow: 1;
  width: calc(75% - #{$gutter});
  min-width: 20rem;
  margin: $gutter;
  align-items: center;
}

.body-content__img {
  flex-grow: 1;
  width: calc(25% - #{$gutter});
  padding: 0 0 0 2rem;

}
