.body-content {
  width: 100%;
  padding: $gutter;
  font-size: 1.5rem;
  text-align: left;
}

.grid-container {
  display: flex;
  // flex-basis: calc(100% 2);
  // justify-content: space-around;
  // flex-direction: row;
  flex-wrap: wrap;
}

.container {
  margin: $gutter;
  // flex-direction: row;
  // flex-grow: 1;
  max-width: 20rem;
}


.content-card {
  // flex-basis: calc(100% 2);
  // flex-direction: row;
}
