.hero-intro {
  // margin: $gutter;
  padding: $gutter;
  text-align: center;
  font-size: 2rem;
  width: 100%;
  margin: auto;
  background: $c-full-page;

  &__bottom {
    color: $c-top-nav;
    background: $c-full-page
  }
}
